* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

body {
    background-color: #1d2c3f;
    margin: 50px;
}
.friday-meal img{
    position: relative;
    border-radius: 10px;
}
.friday-meal h2{
    position: absolute;
    color: white;
    top: 89px;
    left:89px;
}
.radio{
    position: absolute;
    color:white;
    left:88px;
    top:149px;
    font-size: 18px;
}
.radio1 {
    position: absolute;
    color:white;
    left:88px;
    top:222px;
    font-size:18px;
}
.button{
    position:absolute;
    background-color: #d31f04;
    width: 103px;
    height: 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    left:88px;
    top: 302px;
}

.monday{
    position: relative;
    width: 582px;
    height: 479px;
}
.monday .img2{
position: absolute;
border-radius: 10px;

}


.calendar{
position: absolute;
    width:264px;
    height: 309px;
    box-sizing: border-box;
    top:41px;
    right: 41px;
    line-height: 32px;
    color: #fff;
    border-bottom: solid 0.5px grey;
    
}
.calendar .grey{
    color: #555759;
}
.calendar .day{
    line-height: 47px;
}
.calendar .number{
    line-height: 32px;
}
.calendar .date{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;

}
.calendar .date div{
    display: flex;
    justify-content: center;
    align-items: center;


}
.calendar .date div.day{
    font-weight: 700;
}
.calendar .date div.number{
    font-weight: 400;
}
.active{
    background: green;
    color:white;
}
.n13{
    color:yellow;
}
.monday .mtext{
    position: absolute;
    top:37px;
    left:37px;
    color:white;

}
.monday .ntext{
    position: absolute;
    left: 37px;
    color:white;
    bottom: 224px;
}
.button3{
position:absolute;
background-color: green;
width: 103px;
height: 32px;
border-radius: 5px;
        border: none;
        outline: none;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        left:37px;
        bottom:37px;
    }
.monday .ttext{
    position: absolute;
    right:37px;
    color:white;
    bottom:36px;
    font-size: 18px;
    line-height: 25px;
}
.monday .rtext{
    position: absolute;
    color:yellow;
    right: 280px;
    bottom: 49px;

}
.monday .tttext{
    position: absolute;
    color:yellow;
    right: 260px;
    bottom: 65px;
}
.caffee{
    position: relative;
}
.caffee .greytext{
    position: absolute;
    top:55px;
    left:160px;
    color:grey;
    line-height: 18px;
}
.caffee .main{
    position: absolute;
    top:78px;
    left:145px;
    font-size: 30px;

}
.caffee .hr1{
    position: absolute;
    top:119px;
    left:190px;
}
.caffee .last{
color: #262827;
top: 170px;
position: absolute;
left:103px;
text-align: center;
}
.button4{
    position:absolute;
    background-color: #4360ba;
    width: 103px;
    height: 32px;
    border-radius: 5px;
            border: none;
            outline: none;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            left:37px;
            bottom:37px;
            left:182px;
}
            